.pio
.vscode

# Dynamically generated
.version
dynamic

# Local temp data 
data

# Libraries that are not managed
lib/EmbAJAX

# Important for Security #
private
.DS_Store
travis-godaddy_rsa
travis-godaddy_rsa
